__include__: [
  '../dataset/custom_detection.yml',
  '../runtime.yml',
  '../base/dataloader_dfine.yml',
  '../base/optimizer.yml',
  '../base/dfine_hgnetv2.yml',
]

output_dir: ./outputs/people-detecion/dfine_hgnetv2_s-ours

model: TDMG_MG

DEIM_MG:
#   yaml_path: configs/cfg-improve/dfine-s-TDMG-DETR.yaml
  yaml_path: configs/cfg/dfine-s.yaml

optimizer:
  type: AdamW
  params:
    -
      params: '^(?=.*backbone)(?!.*norm|bn).*$'
      lr: 0.0001
    -
      params: '^(?=.*backbone)(?=.*norm|bn).*$'
      lr: 0.0001
      weight_decay: 0.
    -
      params: '^(?=.*(?:encoder|decoder))(?=.*(?:norm|bn|bias)).*$'
      weight_decay: 0.

  lr: 0.0004
  betas: [0.9, 0.999]
  weight_decay: 0.0001


# Increase to search for the optimal ema
epoches: 300 # 120 + 4n
train_dataloader:
  total_batch_size: 4
  dataset:
    transforms:
      policy:
        epoch: 288

  collate_fn:
    stop_epoch: 288
    ema_restart_decay: 0.9999
    base_size_repeat: ~

val_dataloader:
  total_batch_size: 8
